.description {
  font-size: 0.85rem;
  max-width: var(--max-width);
  width: 100%;
  z-index: 2;
  font-family: var(--font-mono);
}

.noData {
  text-align: center;
  padding: 20px;
  color: #666;
  font-size: 16px;
}
