.footer {
  background-color: var(--primary-color);
  padding: 10px;
  display: flex;
  justify-content: center;
  width: 100%;
}

.description {
  font-size: 1rem;
  font-family: var(--font-mono);
}
