.description {
  font-size: 0.85rem;
  max-width: var(--max-width);
  width: 100%;
  z-index: 2;
  font-family: var(--font-mono);
}

.dropdownContainer {
  flex-direction: row;
  display: flex;
  margin-left: 8px;
  margin-right: 8px;
  align-items: center;
}

.container {
  display: flex;
  justify-content: center;
  padding: 16px;
}

.classDropdown {
  width: 230px;
  margin-left: 8px;
}

.btn {
  border-radius: 16px;
  padding-left: 16px;
  padding-right: 16px;
  padding-top: 8px;
  padding-bottom: 8px;
  margin-left: 16px;
}
