.containerForgot {
  min-height: 100vh;
  background: linear-gradient(to bottom right, #e0e7ff, #c7d2fe);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
}
.card {
  background: white;
  padding: 30px;
  width: 100%;
  max-width: 420px;
  border-radius: 18px;
  box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.1);
}
.title {
  margin-top: 5px;
  font-size: 26px;
  font-weight: bold;
  text-align: center;
  color: #1e1e1e;
}
.subtitle {
  text-align: center;
  color: #555;
  margin-bottom: 25px;
}
.label {
  font-size: 14px;
  color: #333;
  font-weight: 500;
  margin-bottom: 6px;
  display: block;
}
.input {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 8px;
  outline: none;
  margin-bottom: 15px;
  font-size: 15px;
}
.button {
  width: 100%;
  background: #4f46e5;
  color: white;
  padding: 12px;
  font-size: 16px;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  margin-top: 10px;
}
.button:hover {
  background: #4338ca;
}
.back {
  text-align: center;
  margin-top: 10px;
  cursor: pointer;
  color: #4f46e5;
  font-weight: 500;
}
.error {
  color: red;
  font-size: 14px;
  margin-bottom: 10px;
}
.success-box {
  text-align: center;
  padding: 20px;
}
.success-title {
  font-size: 24px;
  font-weight: bold;
  color: #16a34a;
}
