.description {
  font-size: 0.85rem;
  max-width: var(--max-width);
  width: 100%;
  z-index: 2;
  font-family: var(--font-mono);
}

.rowItem {
  display: flex;
  flex-direction: column;
}

.dropdownContainer {
  flex-direction: row;
  display: flex;
  margin-left: 8px;
  margin-right: 8px;
  align-items: center;
}
