.mainContainer {
  display: flex;
  flex: 1 1;
  flex-direction: column;
  align-items: center;
}

.container {
  flex: 1;
  width: 75%;
  padding: 25px;
  background-color: burlywood;
}

.fullRow {
  flex: 1;
  display: flex;
  margin-bottom: 10px;
  gap: 20px;
}

.halfRow {
  flex: 1;
  display: flex;
  align-items: center;
}

.titleLabel {
  width: 100%;
}

.inputValue {
  margin-left: 16px;
  border-radius: 5px;
  border-color: transparent;
  padding: 5px;
  min-width: 350px;
}

.sectionHeader {
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 18px;
  font-weight: 600;
  background-color: darkcyan;
  padding-left: 10px;
  margin-bottom: 25px;
}

.saveButton {
  padding: 10px;
  border-radius: 5px;
}
