.description {
    font-size: 0.85rem;
    max-width: var(--max-width);
    width: 100%;
    z-index: 2;
    font-family: var(--font-mono);
  }

  .container{
    margin-top:25px;
    margin-bottom:25px;
    margin-left:16px;
    margin-right:16px;
  }