.description {
  font-size: 0.85rem;
  max-width: var(--max-width);
  width: 100%;
  z-index: 2;
  font-family: var(--font-mono);
}
.departmentInput {
  margin: 15px;
}

.listItem{
  color: black;
}

.divider{
  height: 1px;
  background-color: rgb(192, 190, 190);
  
}

.itemContainer{
  padding-top: 10px;
  padding-bottom: 10px;
  display: flex;
  /* flex-direction: column; */
  justify-content: space-between;
}