.description {
  font-size: 0.85rem;
  max-width: var(--max-width);
  width: 100%;
  z-index: 2;
  font-family: var(--font-mono);
}

.dropdownContainer {
  flex-direction: row;
  display: flex;
  margin-left: 8px;
  margin-right: 8px;
  align-items: center;
}
   
.rowItem {       /* cell height never changes */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  line-height: 1.2;
} 
 .customTable thead th {
  background-color: #2563eb ;
  color: #fff;
}


 