.container {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.label {
  color: #fff;
  font-size: 14px;
  margin-bottom: 6px;
}

.textarea { 
  resize: none;
  padding: 12px;
  border-radius: 12px;
  border: none;
  outline: none;
  font-size: 14px;
  background: rgba(255, 255, 255, 0.15);
  color: #fff; 
}

.textarea::placeholder {
  color: rgba(255, 255, 255, 0.6);
}
